[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
ipython = "*"

[packages]
requests = "*"
django = "*"
djangorestframework = "*"

[requires]
python_version = "3.9.2"

[pipenv]
allow_prereleases = true
