[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
ipython = "*"
coverage = "*"
pytest-django = "*"
pytest-cov = "*"
locust = "*"

[packages]
requests = "*"
django = "*"
djangorestframework = "*"
drf-api-logger = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
